# https://github.com/pubky/pkdns/blob/master/server/pkdns.service
[Unit]
Description=pkdns - Self-Sovereign And Censorship-Resistant Domain Names
After=network-online.target

[Service]
# Update the binary path. Add --verbose to the command if you want to have more insights.
ExecStart=/usr/local/bin/pkdns
Environment="RUST_BACKTRACE=full"
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target
